<section class="mt-3">
  <div class="container">
    {% if cart.item_count > 0 %}
  <h1 class="font-medium text-2xl">cart</h1>

  {% form 'cart', cart %}
    <table class="table-auto w-full rounded-xl shadow p-5">
      <thead class="bg-gray-700 text-white">
        <tr class="text-center p-2">
          <th >Image</th>
          <th >Product Name</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr class="text-center p-2 mt-3">
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img class="max-w-[60px]" src="{{ item | img_url: 'compact' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              <span class="text-xs italic text-gray-600">{{ item.variant.title }}</span>
            </td>

            <td>{{ item.price | money }}</td>

            <td>
              <input class="w-10 h-8 border border-gray-400 rounded" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>

            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
            <td class="text-red-700">
              <a href="{{ item.url_to_remove }}">remove</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="mt-20">
      <p>Sub total : {{ cart.total_price | money }}</p>
      <button class="px-5 py-2 bg-gray-700 text-white rounded" type="submit" name="update">Update</button>
      <button class="px-5 py-2 bg-gray-700 text-white rounded" type="submit" name="checkout">Checkout</button>
    </div>
  {% endform %}
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %}

  </div>
</section>